

/*****************************Small Devices******************************************/
@media(min-width:360px) and (max-width:500px){
    .hamburguer{
    
        width: 1rem;
        height: 1rem;
        position: fixed;
        z-index:100;
        right: 2rem;
        margin-top: -20px;
     }
     #link-topo{
         width: 2rem;
     }
     .banner h1{
         font-size: 3rem;
     }
     .banner p{
         font-size: 2rem;
     }
    .sidebar{
        width:10rem;
    }
    .social-media{
        bottom: 2rem;
    }
    .subtitulo{
        font-size: 26px;
    }
    .profissional img{
        width: 180px;
        height: 220px;
    }
    .profissional .conteudo{
        flex-direction: column;
    }
    .conteudo p{
        padding: 20px;
        margin: 30px 40px 30px 30px;
    }
    .conhecimentos h1{
        margin-top: 20px;
    }
    .icones{
        justify-content:space-around;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
    .icones p{
        margin: 10px;
        color: white;
        text-transform: uppercase;
      }
    .icones i{
          margin-top: 20px;
      }
    
    .card{
        width: 16rem;
        height: 20rem;
    }
    .conteudo_projetos{
        flex-direction: column;
        align-items: center;
    }
    .projetos{
        height: 235vh;
    }
    .sessao-contato{
        height: 150vh;
    }
     .contato-wrapper{
        height: 33rem;
        justify-content: center;

    }
    .contato-left{
        display: none;
    }
    .contato-right{
        width: 75%;
        height: 94%;
        margin: -45px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
    .field{
        width: 15rem;
    }
    .btn-submit {
        width: 80%;
        margin-top: 0rem;
    }
    .whatsapp{
        justify-content: center;
        margin-top: -105px;
    }
    
    .footer p{
        text-align: center;
        padding:12px;
    }
    
 }

 /*****************************Medium Devices******************************************/
@media(min-width:500px) and (max-width:1024px){
    .hamburguer{
    
        width: 1rem;
        height: 1rem;
        position: fixed;
        z-index:100;
        right: 2rem;
        margin-top: -20px;
     }
     #link-topo{
         width: 2rem;
     }
     .banner h1{
         font-size: 3rem;
     }
     .banner p{
         font-size: 2rem;
     }
    .sidebar{
        width:16rem;
    }
    .social-media{
        bottom: 2rem;
    }
    
    .profissional img{
        width: 250px;
        height: 300px;
    }
    .profissional .conteudo{
        flex-direction: column;
    }
    .conteudo p{
        padding: 20px;
        margin: 30px 40px 30px 30px;
    }
    .conhecimentos h1{
        margin-top: 20px;
    }
    .icones{
        justify-content:space-around;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
    .icones p{
        margin: 10px;
        color: white;
        text-transform: uppercase;
      }
    .icones i{
          margin-top: 20px;
      }
    
    .card{
        width: 20rem;
        height: 20rem;
    }
    .conteudo_projetos{
        flex-direction: column;
        align-items: center;
    }
    .projetos{
        height: 296vh;
    }
    .sessao-contato{
        height: 150vh;
    }
     .contato-wrapper{
        height: 33rem;
        justify-content: center;

    }
    .contato-left{
        display: none;
    }
    .contato-right{
        width: 80%;
        height: 94%;
        margin: -45px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
    .field{
        width: 25rem;
    }
    .btn-submit {
        width: 80%;
        margin-top: 0rem;
    }
    .whatsapp{
        justify-content: center;
        margin-top: -105px;
    }
    
    .footer p{
        text-align: center;
        padding:20px;
    }
    
 }
/*****************************Medium Devices******************************************/
@media(min-width:1025px){

}